
@font-face {
	font-family: 'Trulle Mono Snake Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/trulle-mono-snake-normalregularupright.woff2') format('woff2'), url('TTF-Unhinted/trulle-mono-snake-normalregularupright.ttf') format('truetype');
}

@font-face {
	font-family: 'Trulle Mono Snake Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/trulle-mono-snake-normalregularitalic.woff2') format('woff2'), url('TTF-Unhinted/trulle-mono-snake-normalregularitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Trulle Mono Snake Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/trulle-mono-snake-normalboldupright.woff2') format('woff2'), url('TTF-Unhinted/trulle-mono-snake-normalboldupright.ttf') format('truetype');
}

@font-face {
	font-family: 'Trulle Mono Snake Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/trulle-mono-snake-normalbolditalic.woff2') format('woff2'), url('TTF-Unhinted/trulle-mono-snake-normalbolditalic.ttf') format('truetype');
}
