
@font-face {
	font-family: 'Trulle Mono Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/trulle-mono-slab-normalregularupright.woff2') format('woff2'), url('TTF/trulle-mono-slab-normalregularupright.ttf') format('truetype');
}

@font-face {
	font-family: 'Trulle Mono Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/trulle-mono-slab-normalregularitalic.woff2') format('woff2'), url('TTF/trulle-mono-slab-normalregularitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Trulle Mono Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/trulle-mono-slab-normalboldupright.woff2') format('woff2'), url('TTF/trulle-mono-slab-normalboldupright.ttf') format('truetype');
}

@font-face {
	font-family: 'Trulle Mono Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/trulle-mono-slab-normalbolditalic.woff2') format('woff2'), url('TTF/trulle-mono-slab-normalbolditalic.ttf') format('truetype');
}
